<!-- 
 -->
<div ng-controller="settingsController as ctrl">
	<div class="panel panel-primary">
		<div class="panel-heading col-sm-12">
			<div class="col-sm-6">
				<label class="controller-title"><i class="fa fa-wrench fa-2x"></i> Settings</label>
			</div>
<!-- 			<div class="col-sm-3 col-sm-offset-3"> -->
<!-- 				<div class="input-group"> -->
<!-- 					<input type="text" class="form-control" placeholder="Search for..." ng-model="searchString"  > -->
<!-- 			      	<span class="input-group-btn"> -->
<!-- 			        	<button class="btn btn-default" type="button" ng-click="ctrl.search(searchString)" ng-disabled="!searchString"> -->
<!-- 			        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
<!-- 			        	</button> -->
<!-- 				        <button class="btn btn-default" type="button" ng-click="ctrl.clearSearch()"> -->
<!-- 				        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> -->
<!-- 				        </button> -->
<!-- 			      	</span> -->
<!-- 			    </div> -->
<!-- 			</div> -->
		</div>
	  	<div class="panel-body">
<!-- 	  		<form role="form" name="form"> -->
<!-- 				<div class="row"> -->
<!-- 					<span class="col-sm-10"> -->
<!-- 						<span class="col-sm-2"> -->
<!-- 							<label class="control-label" for="id">ID</label> -->
<!-- 						</span> -->
<!-- 						<span class="col-sm-4"> -->
<!-- 							<input type="text" class="form-control" id="propertyId" ng-model="editSetting.id" readonly /> -->
<!-- 						</span>	 -->
<!-- 					</span> -->
<!-- 				</div> -->
<!-- 				<div class="row"> -->
<!-- 					<span class="col-sm-10"> -->
<!-- 						<span class="col-sm-2"> -->
<!-- 							<label class="control-label" for="propertyName">Property Name</label> -->
<!-- 						</span> -->
<!-- 						<span class="col-sm-4"> -->
<!-- 							<input type="text"  -->
<!-- 								class="form-control"  -->
<!-- 								id="propertyName"  -->
<!-- 								ng-model="editSetting.name"  -->
<!-- 								placeholder="Enter name of property" -->
<!-- 								required/> -->
<!-- 						</span>	 -->
<!-- 						<span class="error col-sm-3"  -->
<!-- 								ng-show="!form.propertyName.$pristine && form.propertyName.$error.required">Required</span> -->
<!-- 					</span> -->
<!-- 				</div> -->
<!-- 				<div class="row"> -->
<!-- 					<span class="col-sm-10"> -->
<!-- 						<span class="col-sm-2"> -->
<!-- 							<label class="control-label" for="propertyValue">Property Value</label> -->
<!-- 						</span> -->
<!-- 						<span class="col-sm-4"> -->
<!-- 							<input type="text"  -->
<!-- 								class="form-control"  -->
<!-- 								id="propertyValue"  -->
<!-- 								ng-model="editSetting.value"  -->
<!-- 								placeholder="Enter value of property" -->
<!-- 								required/> -->
<!-- 						</span>	 -->
<!-- 						<span class="error col-sm-3"  -->
<!-- 								ng-show="!form.propertyValue.$pristine && form.propertyValue.$error.required">Required</span> -->
<!-- 					</span> -->
<!-- 				</div> -->
<!-- 				<br/> -->
<!-- 				<div class="row"> -->
<!-- 					<span class="col-sm-10"> -->
<!-- 						<span class="col-sm-10"> -->
<!-- 							<button ng-show="add" ng-disabled="form.$invalid" ng-click="ctrl.add(editSetting)" class="btn btn-primary btn-large"> -->
<!-- 								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> -->
<!-- 								&nbsp;&nbsp;Add -->
<!-- 							</button> -->
<!-- 							<button ng-show="update" ng-disabled="form.$invalid" ng-click="ctrl.update(editSetting)" class="btn btn-primary btn-large"> -->
<!-- 								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> -->
<!-- 								&nbsp;&nbsp;Update -->
<!-- 							</button> -->
<!-- 							<button ng-click="ctrl.reset()" class="btn btn-warning btn-large"> -->
<!-- 							    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> -->
<!-- 								&nbsp;&nbsp;Reset -->
<!-- 							</button> -->
<!-- 							<button ng-show="update" ng-click="ctrl.cancel(editProperty)" class="btn btn-danger btn-large"> -->
<!-- 							    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> -->
<!-- 								&nbsp;&nbsp;Cancel -->
<!-- 							</button> -->
<!-- 						</span> -->
<!-- 					</span> -->
<!-- 				</div>		 -->
<!-- 			</form>		    -->
			<div class="row">
				<div class="col-sm-6">
					<div class="btn-group" role="group" >
					  	<button ng-click="ctrl.add()" type="button" class="btn btn-default">
					  		<i class="fa fa-user-plus"></i>&nbsp;&nbsp;Add
					  	</button>
						<div class="dropdown btn-group">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						   	<i class="fa fa-list-alt"></i>
						  	 Page Size: <em>{{page.size}}</em>&nbsp;&nbsp;<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><a href="#" ng-click="updatePageSize($event, 5)">5</a></li>
						   	<li role="presentation"><a href="#" ng-click="updatePageSize($event, 10)">10</a></li>
						   	<li role="presentation"><a href="#" ng-click="updatePageSize($event, 25)">25</a></li>
						   	<li role="presentation"><a href="#" ng-click="updatePageSize($event, 50)">50</a></li>
						   	<li role="presentation"><a href="#" ng-click="updatePageSize($event, 100)">100</a></li>
						  </ul>
						</div>
					  
					</div>
				</div>
				<div class="col-sm-4  pull-right">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for..." ng-model="searchString"  >
				      	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button" ng-click="ctrl.search(searchString)">
				        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				        	</button>
					        <button class="btn btn-default" type="button" ng-click="ctrl.clearSearch()">
					        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					        </button>
				      	</span>
				    </div>
				</div>
			</div>
			<div class="spacer"></div>
			
			<table ng-show="settings" id="settingsTable" class="table table-striped table-hover table-condensed">
				<thead>
					<tr class="table-header">
						<td></td>
						<td>ID</td>
						<td>Property</td>
						<td>Value</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="setting in settings" >
						<td></td>
					    <td>{{setting.id}}</td>
					    <td>{{setting.name}}</td>
					    <td>{{setting.value}}</td>
					    <td>
					    	<div class="btn-toolbar" role="toolbar" >
								<div class="btn-group" aria-label="First group" role="group">
									<button ng-disabled="chapter.deleted" ng-click="ctrl.edit(setting)" type="button" class="btn btn-default btn-sm">
							    		<i class="fa fa-pencil-square-o"></i>
							    	</button>
							    	<button  ng-disabled="chapter.deleted" ng-click="ctrl.delete(setting)" type="button" class="btn btn-default btn-sm">
							    		<i class="fa fa-trash-o"></i>
							    	</button>
							    	<button ng-disabled="!chapter.deleted" ng-click="ctrl.undelete(setting)" type="button" class="btn btn-default btn-sm">
							    		<i class="fa fa-undo"></i>
							    	</button>
								</div>
							</div>
<!-- 					    	<button ng-disabled="setting.deleted" ng-click="ctrl.edit(setting)" type="button" class="btn btn-primary btn-xs"> -->
<!-- 					    		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> -->
<!-- 					    		&nbsp;&nbsp;Edit -->
<!-- 					    	</button>&nbsp; -->
<!-- 					    	<button ng-disabled="setting.deleted" ng-click="ctrl.delete(setting)" type="button" class="btn btn-danger btn-xs"> -->
<!-- 					    		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> -->
<!-- 					    		&nbsp;&nbsp;Delete -->
<!-- 					    	</button> -->
<!-- 					    	<button ng-disabled="!setting.deleted" ng-click="ctrl.undelete(setting)" type="button" class="btn btn-default btn-xs"> -->
<!-- 					    		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> -->
<!-- 					    		&nbsp;&nbsp;Undelete -->
<!-- 					    	</button> -->
					    </td>
					  </tr>
				</tbody>
			</table>
		</div>
		
		
		<div class="panel-footer">
			<paginate current-page="page.index" total-page="page.count" update-page-method="updatePage(page)"/>
		</div>
	</div>
</div>