<div ng-controller="userFormController as userCtrl">
	<div id="user-form" class="row">
		<br/>
		<form role="form" name="user.form">
			<div class="form-group">
				<div class="row">
					<span class="col-sm-8">
						<span class="col-sm-2">
							<label class="control-label" for="firstname">Firstname</label>
						</span>
						<span class="col-sm-4">
							<input type="text" name="firstname" id="firstname" ng-model="userCtrl.user.firstname" class="form-control input-sm" ng-required="true">
						</span>
						<span class="error col-sm-2" 
								ng-show="!user.form.firstname.$pristine && user.form.firstname.$error.required">*Required</span>
					</span>
						
				</div>
				<div class="row">
					<span class="col-sm-8"></span>
				</div>
				<div class="row">
					<span class="col-sm-8">
						<span class="col-sm-2">
							<label class="control-label" for="middlename">Middlename</label>
						</span>
						<span class="col-sm-4">
							<input type="text" name="middlename" id="middlename" ng-model="userCtrl.user.middlename" class="form-control input-sm" ng-required="true">
						</span>
						<span class="error col-sm-2" 
								ng-show="!user.form.middlename.$pristine && user.form.middlename.$error.required">*Required</span>
					</span>
				</div>
				
				
				<br/>
				
				<div class="row">
					<span class="col-sm-8">
						<span class="col-sm-8">
							<!--  -->
							<button ng-disabled="user.form.$invalid" ng-click="userCtrl.save(userCtrl.user)" type="button" class="btn btn-primary btn-xs">
								<span class="glyphicon glyphicon-log-in"/>&nbsp;&nbsp;Save
							</button>
							
							<!--  -->
							<button ng-click="userCtrl.reset()" type="reset" class="btn btn-warning btn-xs">
								<span class="glyphicon glyphicon-refresh"/>&nbsp;&nbsp;Reset
							</button>
						</span>
					</span>
				</div>
			</div>
		
		</form>
	</div>
</div>